@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  background-color: white;
}

a {
  color: #0e6ffd;
  font-weight: bold;
  text-decoration: none;
}

a:hover,
a:focus {
  filter: brightness(90%);
  text-decoration: underline;
}

.btn {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  padding: 9px 12px;
  margin: 5px;
}

.btn:hover,
.btn:focus {
  filter: brightness(90%);
}

.btn-primary {
  background-color: #0e6ffd;
}

.btn-danger {
  background-color: #d43442;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header {
  padding: .2em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-weight: bold;
}

.header h1 {
  font-size: 1.5rem;
}

.header a {
  color: black;
}

.header a:hover,
.header a:focus {
  color: #282828;
  text-decoration: none;
}

.nav {
  padding-left: 1em;
  padding-bottom: .5em;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav a {
  color: #282828;
  margin-right: .5em;
}

.nav a:hover,
.nav a:focus {
  color: black;
}

.main {
  padding: 1em;
  height: 100%;
}

.footer {
  text-align: center;
  padding: 1em;
  background-color: white;
  font-size: .8rem;
  font-weight: bold;
}

.center {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em;
}

.form {
  width: 30%;
  margin: 0 auto;
}

.form textarea {
  height: 80px;
}

.form input,
.form textarea {
  outline: none;
  border: 1px solid whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: black;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: .5em;
  margin: .5em;
  width: 80%;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  border-color: lightgray;
}

.thread-list {
  padding: .5em;
}

.thread-list:nth-child(odd){
  background-color: white;
}

.thread-list:nth-child(even){
  background-color: whitesmoke;
}

.thread-list-username {
  font-weight: bold;
  color: #282828;
  padding-left: 1em;
  padding-right: 1em;
}

.username {
  font-weight: bold;
  color: #282828;
}

.thread,
.post {
  background-color: whitesmoke;
  margin: .5em;
  margin-left: .5em;
  padding: .5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post {
  margin-left: 3em;
}

.alert {
  min-height: 1em;
  margin: 0 auto;
  text-align: center;
  color: goldenrod;
  font-weight: bold;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 12px;
  margin-top: 1em;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 1em;
}

.page-link {
  cursor: pointer;
}