@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

:root {
  --blue: #0e6ffd;
  --red: #d43442;
  --white: #fff;
  --whitesmoke: whitesmoke;
  --gray: gray;
  --lightgray: lightgray;
  --darkgray: #282828;
  --black: #000;
  --yellow: gold;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  background-color: var(--white);
}

a {
  color: #0e6ffd;
  font-weight: bold;
  text-decoration: none;
}

a:hover,
a:focus {
  filter: brightness(90%);
  text-decoration: underline;
}

.btn {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: black;
  padding: 9px 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn:hover,
.btn:focus {
  filter: brightness(90%);
}

.btn-primary {
  background-color: var(--blue);
  color: var(--white);
}

.btn-danger {
  background-color: var(--red);
  color: var(--white);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header {
  padding: .2em;
  padding-left: .5em;
  padding-right: .5em;
  background-color: var(--whitesmoke);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--darkgray);
}

.header h1 {
  font-size: 1.5rem;
}

.header a {
  color: var(--darkgray);
}

.header a:hover,
.header a:focus {
  color: var(--black);
  text-decoration: none;
}

.nav {
  background-color: var(--whitesmoke);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.nav a {
  color: var(--darkgray);
  margin-right: 1em;
  text-decoration: none;
  padding: .6em;
  margin: 0;
}

.nav a:hover,
.nav a:focus {
  color: var(--black);
  background-color: var(--lightgray);
}

.main {
  padding: 1em;
  height: 100%;
}

.footer {
  text-align: center;
  padding: 1em;
  background-color: var(--white);
  font-size: .8rem;
  font-weight: bold;
}

.center {
  text-align: center;
  margin-bottom: 1em;
  width: 30%;
  margin: 0 auto;
}

.form textarea {
  height: 80px;
}

.form input,
.form textarea {
  outline: none;
  border: 1px solid var(--whitesmoke);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: black;
  border-radius: 5px;
  padding: .5em;
  margin-bottom: .5em;
  margin-top: .5em;
  width: 80%;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  border-color: var(--lightgray);
}

.search-form {
  width: 30%;
  margin: 0 auto;
}

.thread-list {
  padding: .5em;
}

.thread-list:nth-child(odd){
  background-color: var(--white)
}

.thread-list:nth-child(even){
  background-color: var(--whitesmoke)
}

.thread-list-username {
  font-weight: bold;
  color: #282828;
  padding-left: 1em;
  padding-right: 1em;
}

.username {
  font-weight: bold;
  color: #282828;
}

.thread,
.post {
  background-color: var(--whitesmoke);
  margin: .5em;
  margin-left: .5em;
  padding: .5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post {
  margin-left: 3em;
}

.alert {
  min-height: 1em;
  margin: 0 auto;
  text-align: center;
  color: goldenrod;
  font-weight: bold;
  border: 1px solid var(--whitesmoke);
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 12px;
  margin-top: 1em;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 1em;
}

.avatar-small {
  width: 30px;
  height: 30px;
  margin: 0;
}

.page-link {
  cursor: pointer;
  font-weight: bold;
}

.active {
  text-decoration: underline;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.logged-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logged-in span {
  padding: 5px;
}

.settings {
  color: var(--gray);
  font-size: 1.5rem;
}